$orange:#ff7800;
$black:#130f40;
$light-color:#666;

$minMedium:"(min-width:992px)";
$minSmall:"(min-width:768)";
$minLarge:("min-width:1200px");
$mainColor:#e2494c;

$float-left:left;
$float-right:right;


$text-right:right;
$text-left:left;
