.login-form{
    position: absolute;
    top: 110%;
    right: 2rem;
    width: 30rem;
    box-shadow:0 .5rem 1rem rgba(0,0,0,1);
    padding: 2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
}
.login-form h3{
font-size: 2.5rem;
text-transform: uppercase;
color: #130f40;
text-align: center;
}
.login-form .box{
    width: 100%;
    margin: 1rem 0;
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1rem;
    margin-left: -10px;
    color: #130f40;
}
.login-form p{
    font-size:  1.4rem;
    padding: .1rem 0;
    color: #666;

}
.login-form p a{
    margin-left: 12rem;
    color: #ff7800;
}
.login-form .btn{
    padding: 10px;
    text-align: center;
    margin-left: 10%;
    text-transform: uppercase;
    border: 1px solid #666;;
    &:hover{
        background: #ff7800;
    }
}